<h1>Articles</h1>
<p>Our blog has <%= Article.public_count %> articles and counting</p>
<ul>
  <% @articles.each do |art| %>
    <% unless art.archived? %>
      <li class="index">
        <%=link_to art.title, art%><br>
        <p>Comments: <%= art.comments.size %></p>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Create new article', new_article_path %>